
{% extends 'todoapp/home.html' %}

{% block content %}
<center> <h3>Login Form</h3></center>

<div class="container">

<form method='post' >
<center>
    {{lform.as_p}}
    {% csrf_token %}

    <button type="submit" class="btn btn-success">Login</button>
    <button type="reset" class="btn btn-danger">clear</button><br>
     <input type="checkbox" checked="checked" name="remember"><span> Remember me</span> </input>&nbsp;&nbsp;
     <span class="psw">Forgot <a href="#">password?</a></span>
      <a href="{% url 'signup' %}">signup</a>

  <center>
  </form>
  </div>
</div>
{% endblock %}
